#deleteBtn {
-fx-background-color: lightcoral;
}
#deleteBtn:hover {
-fx-background-color: coral;
}
#deleteBtn:pressed {
-fx-background-color: chocolate;
}
#equalsBtn {
-fx-background-color: lightskyblue;
}
#equalsBtn:hover {
-fx-background-color: deepskyblue;
}
#equalsBtn:pressed {
-fx-background-color: dodgerblue;
}
.bttn:hover{
-fx-background-color: lightgray;
}
.bttn:pressed{
-fx-background-color: gray;
}





